@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3{
    @apply text-2xl md:text-4xl;
  }
  h4 {
    @apply text-xl md:text-2xl;
  }
  p {
    @apply text-gray-800 py-2 text-base md:text-xl font-light;
  }
  a{
    @apply text-gray-600 hover:text-black
  }
}

@layer components{

  .button {
    @apply h-[50px] w-[140px] bg-gray-100 cursor-pointer border-gray-300 border-2 rounded-sm hover:border-gray-700 hover:drop-shadow-none;
  }
  
  .button-primary {
    @apply h-[50px] w-[140px] bg-gray-900 text-white rounded-sm hover:shadow-lg hover:shadow-gray-400 hover:text-lime-400;
  }

  .layout-container{
    @apply relative m-auto max-w-7xl px-2 md:px-4
  }
  
}

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
